{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié
{% endblock %}

{% block content %}


	<form method="post">

		<h1 class="h3 mb-3 font-weight-normal mt-4">Reinitialiser le mot de passe</h1>

		<input type="email" name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="Entrer votre email" required autofocus>
		<br>

		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		<button class="mt-2 btn btn-lg btn-primary col-12" type="submit">
			Reinitialiser mon mot de passe
		</button>
	</form>

{% endblock %}
